/.nb-gradle/
/Future Bazooka Safari/nbproject/*
/Future Bazooka Safari/dist/
/Future Bazooka Safari/build/
/FutureBazookaSafari/build/
/FutureBazookaSafari/.nb-gradle/
/FBS_Canvas/nbproject/private/
/FutureBazookaSafariAndroid/build/
/FutureBazookaSafariAndroid/private/
/FutureBazookaSafariAndroid/gradle/
/FutureBazookaSafariAndroid/.nb-gradle/
/FutureBazookaSafariAndroid/.gradle/
/FutureBazookaSafariAndroid/build.gradle
/FutureBazookaSafariAndroid/gradlew.bat
/FutureBazookaSafariAndroid/gradlew
