.loginScreen {
    -fx-background-color: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%);
}

.loginScreen .logoLabel {
    -fx-font: 20px "Arial Black"; 
    -fx-alignment: CENTER;
    -fx-text-fill: #000;
}

.loginScreen .loginScreenButton {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-font: 15px "Arial Black";
    -fx-alignment: CENTER;
    -fx-border-color: #FFF;
    -fx-border-width: 1;
    -fx-text-fill: #FFF;
}

.loginScreen .loginScreenCheckBox {
    -fx-text-fill: #000;
    -fx-font-size: 12px;
}